sudo: required
services:
- docker
language: java
script:
- mvn clean package

env:
  global:
  - secure: FNBvv4uZgy8VwBQntmAdVpDIB2RYHiFTu9baRLMPLVLJ3B7TrDApMpadiguHkWYQsQQhJVHmyjMfyrc2omiyW6F+MvNASZ89VEb73fS7E2n2+BPrgkUcg2fCcOSkN9tJQb12wzF4RhXqA9YLW5UquejY5ZPnDlngCLSP58J60K2b3cg43zV1pXWFTaJQ+z9eaZR5+aNHqYiYCzDKipPVJcw6+KuPC9MCsdJTwgiuT18/e0OR1AuKzGTmFgahhFkVuoA2E5kPmlm4IvHAm0XyBfuUvDuW/ysUm9uYDJQSas19r01+PI40J/jyKAsvKdWjTTd0Om0PYNO1AOy9alf3wKV2neazbMhhZ28aJMlIdjT9B0eWUsnupFp91G63KGBChriYQg9pJilCkUu6SZdnZvvbsoEA2d1uTojgKs5tLBjjw0GgRrHi4x2nRqHU7mji3TpNZrqaK8sYyCipxigYAPg+s8dLxPxlB8k+hv2Wrp61WSNKuxndjF6TBvYshZkNLhlPmSYNS7febGIK8mXgAtDOxkDPSnGedon+KD6zFdhsnFpTBC6/IYMr2UpbK4b1BqffzWxmHpZYnM/EWuQdb3mYqFEwoRxQxBA1V6cjQ6QJmtib1SC5fIUWjEIrs3rsDEa56YiKBynxnueaK2lgFBJ6JBQ9m1jiEikzzhrsUzs=
  - secure: CLCXQ4JY48sHDCk6uy3J27+Y5gDG90QRktHuVoTLo8GKUkEuulzva5tI+3Xdo2mCNGAVVHzQ6E+ZCLeRPMiHHQXdYg6njPyB1AweMZkMWdS020SAFj8rFUQv/+DHaFhQjccx5wDeza5htJqHscFfSSDiGyfDcFElVe6+8BLiPhKiVng04O6de8KVjRpLbg6EwMwpg8GuYFxGK2jHRAerMvWiDYVLsMz4CKFuFPsLr/0voso2flM9HaRvaDN9YL6InugBwppQ68vWypboub72RSlX3UTJbxCbraLtqu6Ap7Mvv2oE1P7sos+7vx9PJte4tO7FvsSGkTfQkeEZaQZsgV0OO7TpNIYg8v0+OYil3m5CbI+VjAoHGDTPVWuwSqa+gTu93YeeiZUM2iPERNz0LXCKVIWIYJ3BLZuftfhmUfvr3wfAYnPoUJc4LYIYuGjdj7kWFej51uATcBQTI9Hs2tVU6ZpPKxzz+UtWFRbp5t/4QiBuxHHhrz4Ygl7pYOek4aWGfVZ76zLCbsVhUxJ47glODRjjXyH875PaxNuPQ8P09X/4ZjEFHtk3s0Wg0KIKVHV/LgcfP1m6qBKJh0gGfwULeMs+bF4fSmQVBWSC1kfQ+WBolS9R+jwV5lV/50A7MU0y0J1uJhRcemjGpHpUUkvONJdvyYBs7e8eBaewdqk=

after_success:
- docker login -u $DOCKER_USER -p $DOCKER_PASS
- export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH
  ; fi`
- export sbelozyorov/webapp
- docker build -t sbelozyorov/webapp .
- docker tag sbelozyorov/webapp $DOCKER_USER/javawebapp
- docker push sbelozyorov/webapp
- pip install --user awscli
- export PATH=$PATH:$HOME/.local/bin
- eval $(aws ecr get-login --no-include-email --region us-west-1)
- docker build -t sbelozyorov@webapp
- docker tag sbelozyorov/webapp:latest 434952379752.dkr.ecr.us-west-1.amazonaws.com/sbelozyorov/webapp:latest
- docker push 434952379752.dkr.ecr.us-west-1.amazonaws.com/sbelozyorov/webapp:latest
