sudo: required

services:
  - docker
language: java
script:
- mvn clean package

env:
  global:
  - secure: NCJAhuBWm6dMhWKdT9njUvHNuhGGyHBjKHVMnKMi2F4+h942++z0TbGV6rqxTPI7/Bqt0SO4R/Fssbk+coURxstk9zxY/wvLlxrfWiWglRVr6PqMEe6iQlzXxfpoFdS0CX4PqSSjCsiSCEgMIdhRjsjUqZkAyqn+ABRGMPPgNLKePvc+gcoaICQUPGmNCnaPxQwz88rbKcHU2ggtX7Fs7Eo0gzhTKmiXHMf6sEuAB7sfMubZ8KPICKFJk9iDMMOzxlrvOAiWPP24jNG2yAugJDWpgYmQXucz96LQZaFkcy8B0o47k50ZD5E4FJ4pz5brRTBX4LUfUt43BiYSdPl2i3F5kbJLrJ7moprAwUNCJCCPw/1OIG4SCO6jUJrPCFP6uC55725KEo0KGfOG4SrCvPTL6dqGy+XtszfXzsehFCJcaQfWkkfFfq9tEZwcwA8XjCxEmjToHS9YjK1Vnot3n7z/jFbS7brPUJrsZvw7TFKnUYmf63NI064/M9l1rknZWmjslTpvwPyA1Wj5S0C2yUd/LC3bKoyc/KGtseyGxfBI1oH9VrJ3WobEvMOthGdqK0JehoKLT2QxyknwgjyOf2rNZeLXg4wNW8lJZcT2sfWHaaHnluNAqqUltljlWjSkovv/gGrM4j4jzbHCXIaTfKwxXKWYii4kuW2Hd7qPWhc=
  - secure: cBUfAkqVSBAH6ldeqZngKw97UmFexvdRAtQbEigHYQCtJ9P8oLBCRqoW2ylia+0a1tOZ0ELZobsUvL2G3+BmRcYUJFNxTmwrZvMVt71aS+Jn0Dl+hajzq9NvAahFx8EgJIyWGabh52AYxPM/GuKI/PmLel5XpbP9J424smXNcP2ClhiejDzCnsOckhyb6HokVdrK5TOgr4j52GU5b5cNbOzCsmnW5H8ZTEIMdm+GkhPfsmML1038N6DoIRuQQU7bj8KyLmAQxH8V+bpHvE84gD3Ee0fvgS+cZ8xqaOrVfLbWQb6jJp6V5QQ/eafJ/7vaUuPjoTVAmZesvWjn6mJhmkALUSlKGQlyN2M7DX5KL6HFrUTB0vWDHrtKb2LlYawDCArf0pUBm0bcu8hK9WGm9W2OaZuc8dP90RnaDBXaAyEWZG9bwCGziN4Njxckdw1MnpxQxUBBQX+fmUlgkUNdmzN8KwgNqKER8A19wiW9ZfeR6Mvx1M6BiJwjqTgm//4jIeWS7X52jZPFyHn2MXDMhj5KUILRwAxXGVDvMURkCk3JHIoT6eLTfIrwAkWUT46odKGKed5kqfMsZ9tnWCdfSVShu99d2+h4fD6CQK6VKgNSIcDGhafzdCAgQTt65weszEbOWAEXk6fXVcqpSV/k+8iUvJ5nIqy9Vk183KIIkh0=

after_success:
- docker login -u $DOCKER_USER -p $DOCKER_PASS
- export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH
  ; fi`
- export IMAGE_NAME=sbelozyorov/javawebapp
- docker build -t $IMAGE_NAME:$COMMIT .
- docker tag $IMAGE_NAME:$COMMIT $IMAGE_NAME:$TAG
- docker push $IMAGE_NAME
